<!--Edit Modal -->
<div class="modal fade" id="editModal-<%- item.id %>" tabindex="-1" aria-labelledby="editModalLabel-<%- item.id %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/items/<%- item.id %>?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="Name-<%- item.id %>" placeholder="Name" value="<%- item.name %>" name="name" required>
                    <label for="Name-<%- item.id %>">Name</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="Category-<%- item.id %>" placeholder="Category" value="<%- item.category %>" name="category" required>
                        <label for="Category-<%- item.id %>">Category</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="number" class="form-control" id="Quantity-<%- item.id %>" placeholder="Quantity" value="<%- item.quantity %>" name="quantity">
                        <label for="Quantity-<%- item.id %>">Quantity</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="number" class="form-control" id="Price-<%- item.id %>" placeholder="Price" value="<%- item.price %>" name="price" required>
                        <label for="Price-<%- item.id %>">Price</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="Description-<%- item.id %>" placeholder="Description" value="<%- item.description %>" name="description">
                        <label for="Description-<%- item.id %>">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>