<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.7/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.7/dist/sweetalert2.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="container mt-5">
            <div class="d-flex justify-content-between">
                <label for=""><h3>Inventory Management System</h3></label>
                <span><button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createModal">Add Item</button></span>
            </div>
            <script>
                // This is how you use JavaScript logic inside the EJS file for conditional rendering
                const urlParams = new URLSearchParams(window.location.search);

                 if (urlParams.has("success")) { 
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: urlParams.get("success"),
                    });
                 } 
        
                 if (urlParams.has("error")) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: urlParams.get("error"),
                    });
                 } 
            </script>
            <table class="table text-middle text-center" id="dataTable">
                <thead class="table-light">
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item => { %>
                        <tr>
                            <td><%- item.name %></td>
                            <td><%- item.category %></td>
                            <td><%- item.quantity %></td>
                            <td>&#8369; <%- item.price %></td>
                            <td><%- item.description %></td>
                            <td><%- item.createdAt.toDateString() %></td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#editModal-<%- item.id %>" class="btn btn-sm btn-primary">Edit</button>
                                <button data-bs-toggle="modal" data-bs-target="#deleteModal-<%- item.id %>" class="btn btn-sm btn-danger">Delete</button>
                               
                            </td>
                        </tr>
                       
                        <!-- Delete Modal  -->
                        <%- include('deleteModal.ejs', { item }) %> 
                          <!-- Edit Modal  -->
                        <%- include('editModal.ejs', { item }) %> 
                         
                    <% }) %>
                </tbody>
                </table>
        </div>
    </div>
    <%- include('createModal.ejs') %> 
</body>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/dataTables.js"></script>
<script src="/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>
</html>